/*
* HEADER
*/
body:not(.header--menu-open) .header-nav-item:hover a {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
.header-layout-nav-center .header-title {
  flex: 1 1 20%;
}
.header-title-nav-wrapper {
  flex: 1 0 80%;
}
.header-layout-nav-center .header-nav {
  width: 34%;
  flex: 1 1 100%;
}
.header-layout-nav-center .header-actions {
  width: 14%;
}
/*
@media only screen and (min-width:600px){
  .header-title-logo img {
      transform: scale(1.2);
      transform-origin: left center !important;
  }
}

  @media only screen and (min-width:1023px){
    .header-title-logo img {
      transform: scale(1.8);
  }
}
*/
html {
  scroll-behavior: smooth;
}
.header-nav-folder-title {
  margin-right: 20px;
}
.header-nav-folder-title:after {
  content: "";
  content: '';
  background: url('https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/63020679c9719d4bab261bf5/1661077114176/chevron+down.png') no-repeat center center;
  position: absolute;
  top: 7.6px;
  right: 3px;
  width: 12px;
  height: 15px;
  background-size: contain;
}
.eventlist-button {
  display: none !important;
}
.eventlist-past-upcoming-divider {
  display: none !important;
}
.js-event-list-heading {
  margin-bottom: 60px;
}
.js-event-list-heading.past-events-custom-heading {
  margin-top: 120px !important;
}
.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item {
  padding: 10px 10px 10px 0px;
}
section[data-section-id="638a4d1933d0a5435e47c1bd"] .sqs-gallery-block-grid.sqs-gallery-aspect-ratio-four-three .slide .margin-wrapper a.image-slide-anchor,
section[data-section-id="638a4d1933d0a5435e47c1bd"] .sqs-gallery-block-grid.sqs-gallery-aspect-ratio-four-three .slide .margin-wrapper .content-wrapper,
section[data-section-id="638a4d1933d0a5435e47c1bd"] .sqs-gallery-block-grid.sqs-gallery-aspect-ratio-four-three .slide .margin-wrapper .content-wrapper.content-fill .sqs-video-wrapper {
  padding: 0 !important;
  height: unset !important;
  margin: 30px 0 !important;
}
section[data-section-id="638a4d1933d0a5435e47c1bd"] .gallery-block img {
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  height: unset !important;
  object-fit: contain !important;
  aspect-ratio: 8 !important;
  mix-blend-mode: color-burn !important;
  background: inherit;
}
.blog-item-content-wrapper {
  max-width: 550px !important;
  margin: auto;
  /*  
p {
   max-width:550px !important;
  margin: auto;

}  */
}
.item-pagination-link {
  align-items: flex-start;
}
h1.entry-title {
  text-align: center;
}
.tweak-blog-item-show-date .blog-item-wrapper .blog-item-author-date-wrapper,
.tweak-blog-item-show-author-name .blog-item-wrapper .blog-item-author-date-wrapper {
  justify-content: center;
}
.tweak-blog-item-show-categories .blog-item-wrapper .blog-meta-item--categories {
  text-align: center;
}
.wp-block-image.size-large {
  height: unset;
  width: unset;
}
.sqs-block-newsletter .newsletter-form-field-element {
  border: none !important;
}
.newsletter-block .newsletter-form-field-element,
.newsletter-block .newsletter-form-button {
  padding: 0.9rem 2rem !important;
}
.summary-item-record-type-event * {
  transition: 0.3s all ease;
}
.summary-item-record-type-event:hover .summary-thumbnail-event-date {
  transform: translateY(-2px);
}
/*
* WEBFONTS
*/
