
//// NEWSLETTER STYLES
.sqs-block-newsletter .newsletter-form-field-element{
  border:none !important;
}

.newsletter-block .newsletter-form-field-element, .newsletter-block .newsletter-form-button {
  padding: 0.9rem 2rem !important;
}



.summary-item-record-type-event{
  *{
    transition: .3s all ease;
  }
  &:hover{
    .summary-thumbnail-event-date,{
      //move 2px up
      transform: translateY(-2px);
//scale 1.2 x
      //transform: scale(1.05);
    }
    .summary-content{
      //move 2px left
     // transform: translateX(2px);
    }
  }
}

