:root {
  --damy-orange: #F58820;
}
/*
* HEADER
*/
body:not(.header--menu-open) .header-nav-item:hover a {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
.header-layout-nav-center .header-title {
  flex: 1 1 20%;
}
.header-title-nav-wrapper {
  flex: 1 0 80%;
}
.header-layout-nav-center .header-nav {
  width: 34%;
  flex: 1 1 100%;
}
.header-layout-nav-center .header-actions {
  width: 14%;
}
/*
@media only screen and (min-width:600px){
  .header-title-logo img {
      transform: scale(1.2);
      transform-origin: left center !important;
  }
}

  @media only screen and (min-width:1023px){
    .header-title-logo img {
      transform: scale(1.8);
  }
}
*/
html {
  scroll-behavior: smooth;
}
.header-nav-folder-title {
  margin-right: 20px;
}
.header-nav-folder-title:after {
  content: "";
  content: '';
  background: url('https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/63020679c9719d4bab261bf5/1661077114176/chevron+down.png') no-repeat center center;
  position: absolute;
  top: 7.6px;
  right: 3px;
  width: 12px;
  height: 15px;
  background-size: contain;
}
.eventlist-button {
  display: none !important;
}
.eventlist-past-upcoming-divider {
  display: none !important;
}
.js-event-list-heading {
  margin-bottom: 60px;
}
.js-event-list-heading.past-events-custom-heading {
  margin-top: 120px !important;
}
.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item {
  padding: 10px 10px 10px 0px;
}
section[data-section-id="638a4d1933d0a5435e47c1bd"] .sqs-gallery-block-grid.sqs-gallery-aspect-ratio-four-three .slide .margin-wrapper a.image-slide-anchor,
section[data-section-id="638a4d1933d0a5435e47c1bd"] .sqs-gallery-block-grid.sqs-gallery-aspect-ratio-four-three .slide .margin-wrapper .content-wrapper,
section[data-section-id="638a4d1933d0a5435e47c1bd"] .sqs-gallery-block-grid.sqs-gallery-aspect-ratio-four-three .slide .margin-wrapper .content-wrapper.content-fill .sqs-video-wrapper {
  padding: 0 !important;
  height: unset !important;
  margin: 30px 0 !important;
}
section[data-section-id="638a4d1933d0a5435e47c1bd"] .gallery-block img {
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  height: unset !important;
  object-fit: contain !important;
  aspect-ratio: 8 !important;
  mix-blend-mode: color-burn !important;
  background: inherit;
}
.blog-item-content-wrapper {
  max-width: 550px !important;
  margin: auto;
  /*  
p {
   max-width:550px !important;
  margin: auto;

}  */
}
.item-pagination-link {
  align-items: flex-start;
}
h1.entry-title {
  text-align: center;
}
.tweak-blog-item-show-date .blog-item-wrapper .blog-item-author-date-wrapper,
.tweak-blog-item-show-author-name .blog-item-wrapper .blog-item-author-date-wrapper {
  justify-content: center;
}
.tweak-blog-item-show-categories .blog-item-wrapper .blog-meta-item--categories {
  text-align: center;
}
.wp-block-image.size-large {
  height: unset;
  width: unset;
}
.sqs-block-newsletter .newsletter-form-field-element {
  border: none !important;
}
.newsletter-block .newsletter-form-field-element,
.newsletter-block .newsletter-form-button {
  padding: 0.9rem 2rem !important;
}
.summary-item-record-type-event:hover .summary-thumbnail-event-date {
  transform: translateY(-2px);
}
/*
* WEBFONTS
*/
/*

COLORS (hover, active, etc)

*/
.header-nav-item:hover a,
p:hover a,
.header-nav-item.header-nav-item--active a,
p.header-nav-item--active a {
  color: var(--damy-orange) !important;
}
.sqs-block-button-element:hover,
.btn:hover {
  background-color: var(--damy-orange) !important;
}
.summary-item:hover .summary-title,
.summary-item:hover .summary-read-more-link {
  color: var(--damy-orange) !important;
}
/*
Make font-face webfont kit for these fonts
https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63b1c17d645430422be0e593/1672593789860/PPTelegraf-UltraLight.otf

https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63b1c177a3e24b7481c64096/1672593783277/PPTelegraf-Regular.otf

https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63b1c17ae36d7862da85fddd/1672593786602/PPTelegraf-UltraBold.otf

*/
/*
@font-face {
  font-family: "PPTelegraf";
  font-weight: 300;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63b1c17d645430422be0e593/1672593789860/PPTelegraf-UltraLight.otf") format("opentype");
}

@font-face{
  font-family: "PPTelegraf";
  font-weight: 400;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63b1c177a3e24b7481c64096/1672593783277/PPTelegraf-Regular.otf") format("opentype");
}

@font-face{ 
  font-family: "PPTelegraf";
  font-weight: 900;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63b1c17ae36d7862da85fddd/1672593786602/PPTelegraf-UltraBold.otf") format("opentype");
}
*/
/*

update the webfont kits to use these 4 files below. we now have 4 weights. make them 300 400 600 700. only woff 2 files. no woff or others

https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d06fb666523942f393ad/1673973871222/PPTelegraf-Bold.woff2

https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d0885117487dde0c118f/1673973896705/PPTelegraf-Semibold.woff2

https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d091fdaa494c59db3bb7/1673973905659/PPTelegraf-Regular.woff2

https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d09cbbde925a3071daa1/1673973916683/PPTelegraf-Light.woff2

*/
@font-face {
  font-family: "PPTelegraf";
  font-weight: 700;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d06fb666523942f393ad/1673973871222/PPTelegraf-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "PPTelegraf";
  font-weight: 600;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d0885117487dde0c118f/1673973896705/PPTelegraf-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "PPTelegraf";
  font-weight: 400;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d091fdaa494c59db3bb7/1673973905659/PPTelegraf-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "PPTelegraf";
  font-weight: 300;
  src: url("https://static1.squarespace.com/static/638a234bdcc3ba18082d0b19/t/63c6d09cbbde925a3071daa1/1673973916683/PPTelegraf-Light.woff2") format("woff2");
}
* {
  font-family: "PPTelegraf" !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.summary-title,
.header .header-nav-wrapper a,
.btn {
  font-weight: 600 !important;
}
.summary-metadata-item,
.eventlist-meta-item {
  font-weight: 300 !important;
}
pre code {
  font-weight: 800 !important;
  letter-spacing: 0.23em !important;
  font-size: 22px !important;
  text-transform: uppercase !important;
}
/*
TYPOGRAPHY from JT
*/
/*

h1{
  font-size:50px !important;
  line-height: 55px !important;
//add media query max width 767px
  @media (max-width: 767px) {
    font-size: 40px !important;
    line-height: 50px !important;
  }
}

h2{
  font-size:40px !important;
  line-height: 50px !important;
}
h3{
  font-size:30px !important;
  line-height: 37px !important;
}

h4{
  font-size:22px !important;
  line-height: 26px !important;
}

p{
  font-size:18px !important;
  line-height: 22px !important;
}
pre code{
  font-size:25px !important;
  line-height: 29px;
  text-transform: uppercase !important;
  letter-spacing: 0.15em !important;
  font-family: "PPTelegraf";
  font-weight: 900 !important;

}
*/
/*
telegraf semibold 50/55 px telegraf semibold 40/50 px telegraf semibold 30/37 px telegraf semibold 22/26 px telegraf regular 18/22 px telegraf regular 16/20 px telegraf light 14/17 px
TELEGRAF BOLD 25 / 29 PX 30 %
*/
